<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/memberCss/signupPageCss.css}" />
    <link rel="stylesheet" th:href="@{/css/core/navbar.css}" />
    <title>회원가입</title>
</head>
<body>
<nav class="navbar">
    <div class="navbar-logo">
        <img th:src="@{/images/logo.png}" alt="Logo" onclick="window.location.href='/movie'">
    </div>
    <div class="navbar-links">
        <a th:href="@{/login}" class="navbar-link">로그인</a>
        <a th:href="@{/signup}" class="navbar-link">회원 가입</a>
    </div>
</nav>
<h1>회원가입</h1>
<form id="signupForm">
    <label for="email">이메일:</label>
    <input type="email" id="email" name="email" required><br>

    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required><br>

    <label for="phoneNumber">전화번호:</label>
    <input type="text" id="phoneNumber" name="phoneNumber" required><br>

    <label for="birthday">생년월일:</label>
    <input type="date" id="birthday" name="birthday" required><br>

    <label for="sex">성별:</label>
    <select id="sex" name="sex" required>
        <option value="MALE">남성</option>
        <option value="FEMALE">여성</option>
    </select><br>

    <button type="button" id="signupButton">가입하기</button>
</form>

<script src="/js/signupScript.js"></script>
</body>
</html>
