<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예매</title>
    <link th:href="@{/css/core/navbar.css}" rel="stylesheet" />
    <link th:href="@{/css/core/main.css}" rel="stylesheet" />
    <link th:href="@{/css/reserveCss/selectScheduleCss.css}" rel="stylesheet" />

</head>
<body>
<nav class="navbar">
    <div class="navbar-logo">
        <img th:src="@{/images/logo.png}" alt="Logo" onclick="window.location.href='/movie'">
    </div>
    <div class="navbar-links">
        <a th:href="@{/login}" class="navbar-link">로그인</a>
        <a th:href="@{/signup}" class="navbar-link">회원 가입</a>
    </div>
</nav>
<nav class="bottomNav">
    <div class="bottomNav-links">
        <div class="bottomNav-link-wrap">
            <a th:href="@{/reserve}" class="bottomNav-link">예매</a>
        </div>
        <div class="bottomNav-link-wrap">
            <a th:href="@{/movie}" class="bottomNav-link">영화</a>
        </div>
        <div class="bottomNav-link-wrap">
            <a th:href="@{/theater}" class="bottomNav-link">영화관</a>
        </div>
        <div class="bottomNav-link-wrap">
            <a th:href="@{/TV}" class="bottomNav-link">TV</a>
        </div>
        <div class="bottomNav-link-wrap">
            <a th:href="@{/inquery}" class="bottomNav-link">문의</a>
        </div>

    </div>
</nav>

</body>

<div id="ticket-wrap">
    <div id="cur-pages">
        <div class="cur-page">
            <a>영화/영화관</a>
        </div>
        <div class="cur-page">
            <a>인원/좌석</a>
        </div>
        <div class="cur-page">
            <a>결제</a>
        </div>
        <div class="cur-page">
            <a>예매확인</a>
        </div>
    </div>
    <div id="select-box">
        <div id="select-theater">
            <div class="select-one" role="presentation">
                <a>선택한 영화관 표시</a>
            </div>
            <div id="local-theater-wrap">
                <div id="local">
                    <div class="local-tab">
                        <a>지역</a>
                    </div>
                    <div id="local-list">
                        <div class="local_element">
                            <a>서울</a>
                        </div>
                        <div class="local_element">
                            <a>경기</a>
                        </div>
                        <div class="local_element">
                            <a>강원</a>
                        </div>
                        <div class="local_element">
                            <a>전라</a>
                        </div>
                        <div class="local_element">
                            <a>충천</a>
                        </div>
                        <div class="local_element">
                            <a>경상</a>
                        </div>
                        <div class="local_element">
                            <a>제주</a>
                        </div>
                    </div> 

                </div>
                <div id="theater">
                    <div class="local-tab">
                        <a>영화관</a>
                    </div>
                    <div id="theater-list">

                    </div>
                </div>

            </div>
        </div>

        <div id="select-movie">
            <div class="select-one" role="presentation">
                <a>선택한 영화 표시</a>
            </div>
            <div class="select-criteria">
                정렬 순서 선택 기능 만들거임
            </div>
            <div id="movie-list">
                <div th:each="screenMovie : ${screenMovies}" >
                    <p th:text="${screenMovie.getTitle()}">Movie Title</p>
                </div>
            </div>

        </div>

        <div id="select-Schedule">
            <div class="select-one" role="presentation">
                <a>선택한 시간 표시</a>
            </div>
            <div id="select-day">

            </div>
            <div id="schedule-list">
                
            </div>
        </div>
    </div>
</div>
</html>