<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예매</title>
    <link th:href="@{/css/core/navbar.css}" rel="stylesheet" />
    <link th:href="@{/css/core/main.css}" rel="stylesheet" />
    <link th:href="@{/css/reserveCss/selectScheduleCss.css}" rel="stylesheet" />
    <link th:href="@{/css/reserveCss/selectPersonnelSeatCss.css}" rel="stylesheet" />
</head>
<body>
<nav class="navbar">
    <div class="navbar-logo">
        <img th:src="@{/images/logo.png}" alt="Logo" onclick="window.location.href='/movie'">
    </div>
    <div class="navbar-links">
        <a th:href="@{/login}" class="navbar-link">로그인</a>
        <a th:href="@{/signup}" class="navbar-link">회원 가입</a>
    </div>
</nav>
<nav class="bottomNav">
    <div class="bottomNav-links">
        <div class="bottomNav-link-wrap">
            <a th:href="@{/reserve}" class="bottomNav-link">예매</a>
        </div>
        <div class="bottomNav-link-wrap">
            <a th:href="@{/movie}" class="bottomNav-link">영화</a>
        </div>
        <div class="bottomNav-link-wrap">
            <a th:href="@{/theater}" class="bottomNav-link">영화관</a>
        </div>
        <div class="bottomNav-link-wrap">
            <a th:href="@{/TV}" class="bottomNav-link">TV</a>
        </div>
        <div class="bottomNav-link-wrap">
            <a th:href="@{/inquery}" class="bottomNav-link">문의</a>
        </div>

    </div>
</nav>

</body>

<div id="ticket-wrap">
    <div id="cur-pages">
        <div class="cur-page">
            <a>영화/영화관</a>
        </div>
        <div class="cur-page">
            <a>인원/좌석</a>
        </div>
        <div class="cur-page">
            <a>결제</a>
        </div>
        <div class="cur-page">
            <a>예매확인</a>
        </div>
    </div>
    <div id="select-box">
        <div id="personal-wrap">
            <div id="personal-seat">
                <a>인원/좌석 선택</a>
            </div>
            <div id="select-personal">
                <div id="movie-info">
                    영화 포스터등 
                </div>
                <div id="select-person">
                    할인 타입과 인원수
                </div>
            </div>
            <div id="seat-wrap">
                <div id="screen">
                    <a>
                        S C R E E N
                    </a>
                </div>
                <div id="seat-container">
                    <div class="row">
                        <div class="seat">1</div>
                        <div class="seat">2</div>
                        <div class="seat">3</div>
                        <div class="seat">4</div>
                        <div class="seat">5</div>
                        <div class="seat">6</div>
                        <div class="seat">7</div>
                        <div class="seat">8</div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat"></div>
                    </div>
                    </div>
            </div>
            <div id="total-payment-wrap">
                <div id="total-payment">
                    <a>총합</a>
                </div>
                <div id="do-payment">
                    <a>결제하기</a>
                </div>

            </div>
        </div>
    </div>
</div>
</html>