<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${movie.title} + ' - 영화 정보'">영화 정보</title>
  <link rel="stylesheet" th:href="@{/css/movieCss/movieDetailPage.css}" />
  <link rel="stylesheet" th:href="@{/css/core/navbar.css}" />
  <link rel="stylesheet" th:href="@{/css/core/main.css}" />
</head>

<body>
<nav class="navbar">
  <div class="navbar-logo">
    <img th:src="@{/images/logo.png}" alt="Logo" onclick="window.location.href='/movie'">
  </div>
  <div class="navbar-links">

    <a th:href="@{/login}" class="navbar-link">로그인</a>
    <a th:href="@{/signup}" class="navbar-link">회원 가입</a>
  </div>
</nav>
<nav class="bottomNav">
  <div class="bottomNav-links">
    <div class="bottomNav-link-wrap">
      <a th:href="@{/reserve}" class="bottomNav-link">예매</a>
    </div>
    <div class="bottomNav-link-wrap">
      <a th:href="@{/movie}" class="bottomNav-link">영화</a>
    </div>
    <div class="bottomNav-link-wrap">
      <a th:href="@{/theater}" class="bottomNav-link">영화관</a>
    </div>
    <div class="bottomNav-link-wrap">
      <a th:href="@{/TV}" class="bottomNav-link">TV</a>
    </div>

  </div>
</nav>



<div class="movie-detail">
  <div class="movie-image">
    <img th:src="@{${movie.posterImgPath}}" th:title="${movie.title}" alt="">
  </div>

  <div class="movie-info">
    <div class="movie-element">
      <h2 class="movie-title" th:text="${movie.title}"></h2>
    </div>

    <div class="movie-info-list">
      <dl class="movie-releaseDate">
        <dt>개봉일</dt>
        <dd th:text="${movie.openingDate}"></dd>
      </dl>
      <dl class="movie-genre">
        <dt>장르</dt>
        <dd th:text="${movie.genre}"></dd>
      </dl>
      <dl class="movie-country">
        <dt>국가</dt>
        <dd th:text="${movie.country}"></dd>
      </dl>
      <dl class="movie-rating">
        <dt>관람등급</dt>
        <dd>
          <span id="rating-v" class="rating-value" th:text="${movie.age}"></span>
        </dd>
      </dl>
      <dl class="movie-runtime">
        <dt>러닝타임</dt>
        <dd th:text="${movie.runtime}"></dd>
      </dl>
      <dl class="movie-director">
        <dt>감독</dt>
        <dd th:text="${movie.director}"></dd>
      </dl>
      <dl class="movie-cast">
        <dt>출연배우</dt>
        <dd th:text="${movie.cast}"></dd>
      </dl>
    </div>

    <div class="movie-plot">
      <p class="plot-title">줄거리</p>
      <span class="plot-content" th:text="${movie.content}"></span>
    </div>
  </div>

</div>

<div class="movie-preview">
  <p class="preview-title">영화 스틸컷</p>
  <div class="preview-images">
    <div th:each="preview : ${movie.previewImgPath}" class="preview-image">
      <img th:src="@{${preview}}" alt="Preview Image">
    </div>
  </div>
</div>

</body>
</html>
