<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/review.css">
    <title>Movie Review</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<script src="/js/reviewApi.js"></script>
<script>
    $(document).ready(function() {
        const movieId = 1;
        getMovieReviewList(movieId);
    });
</script>

<div class="movie-reviews">
    <h2 class="section-title">리뷰 및 평점</h2>
    <div class="ic-score">
        평점
        <img src="https://i.imgur.com/NkmeQyb.png" alt="별">
        <strong id="avg">0.0</strong>
        <span>점</span>
        <span id="total">(0명)</span>
        <a class="myBtn">MY</a>
    </div>
    <ul class="review-box" id="allReview">

    </ul>
</div>

</body>
</html>