/* 폰트 시작 */
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* { font-family: 'NanumSquareNeo-Variable'; }
/* 폰트 끝 */

/**리뷰 시작**/
.movie-reviews {
    width: 50%;
    margin: 0 auto;
    min-width: 800px;
    /**max-width:1000px;**/
}

.review-box {
    list-style: none;
    padding:0;
    border: 1.5px solid #e8ebee;
}

.myBtn {
    padding: 0 10px;
    float: right;
    color: black;
    cursor: pointer;
    font-size: 15px;
}

#myReview {
    display: none;
}

.review-none, .my-review-none {
    text-align: center;
}

.review-box li {
    border-radius: 6px;
    padding:10px;
    border: 1.5px solid #e8ebee;
    margin: 10px
}

.rating-control {
    display: flex;
    justify-content: space-between;
    width:100%
}

.control-button a {
    text-decoration:none;
    color: black;
}


/*별점*/
.rating-box {
    display:flex;
}
.rating-star {
    position: relative;
    color: #ddd;
}
.rating-star span {
    width: 0;
    color: #ffc107;
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
}
.rating-value {
    font-size: 15px;
}

/*리뷰 정보*/
.review-author {
    font-size: 14px;
}
.review-date {
    font-size: 12px;
    color: #828282;
    letter-spacing: 0;
}
